<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Links</title>
</head>
<body>
    <h1>API Endpoints</h1>
    <ul>
        <li><a href="{% url 'get_table_7_data' %}">BondsData </a></li>
        <li><a href="{% url 'get_table_8_data' %}">Bills Data</a></li>
        <li><a href="{% url 'get_table_9_data' %}">Cps Data</a></li>
        <li><a href="{% url 'get_table_12_data' %}">fgn_bond_futures</a></li>
             <li><a href="{% url 'get_table_9a_data' %}">scrapengx gainers Data</a></li>
         <li><a href="{% url 'get_table_9a_datagain' %}">scrapengx data Data</a></li>

    </ul>
</body>
</html>
